body {
  background-color: white;
  font-family: 'Times New Roman', Times, serif;
}

div {
  background-color: #F9F9F9;
  width: 80%;
  text-align: left;
}

a {
  color: blue;
  text-decoration: none;
  margin: 10px;
}

p {
  margin: 10px;
}

h3 {
  margin: 10px;
}

textarea {
  width: 98%;
  height: 500px;
  resize: none;
}