body {
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
}

a {
    color: #2E67D3;
}

select {
    width: 200px;
}

input {
    width: 200px;
}

textarea {
    width: 400px;
    height: 15px;
}

p {
    margin-bottom: -5px;
}

.main-div {
    background-color: #F9F9F9;
    width: 80%;
    text-align: left;
}

.upper-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin-bottom: 15px;
}

.lover-div {
    display: flex;
    justify-content: flex-start;
    width: 70%;
}

.child-div {
    padding-left: 10px;
}

.invisible {
    display: none;
}

.checkbox {
    width: 13px !important;
}

.execute-button {
    padding: 15px;
}

.upper-div-divider {
    width: 100% !important;
    justify-content: start !important;
}
