body {
  background-color: white;
  font-family: 'Times New Roman', Times, serif;
}

div {
  background-color: #F9F9F9;
  width: 80%;
  align-items: left;
  text-align: left;
}

p {
  margin: 1.25%;
}

b {
  margin: 1.25%;
}

h2 {
  margin: 1.25%;
  text-align: left;
}

video {
  width: 98%;
}

table {
  margin: 1.25%;
}
