body {
  background-color: var(--bg-color);
  font-family: 'Times New Roman', Times, serif;
  color: var(--text-color);
}

.main_{
  background-color: var(--page-color);
  width: 80%;
  align-items: left;
  text-align: left;
  display: flex;
  padding-top: 0.01px;
  padding-bottom: 10px;
}

.left_ {
  width: 60%;
  text-align: left;
  margin: 10px;
}

.right_ {
  width: 40%;
  text-align: right;
  margin: 10px;
}

.center_ {
  margin: 0px;
  text-align: center;
}

.grey_ {
  margin: 15px;
  font-size: 50%;
  color: gray;
  text-align: left;
}

p {
  margin: 1.25%;
}

h2 {
  margin: 1.25%;
  text-align: left;
}

h5 {
  margin: 1.25%;
  text-align: left;
}

video {
  width: 98%;
}

table {
  margin: 1.25%;
  width: 95%;
  font-size: 85%;
}

a {
  color: blue;
  text-decoration: none;
}
