body {
  background-color: var(--bg-color);
  font-family: 'Times New Roman', Times, serif;
  color: var(--text-color);
}

div {
  background-color: var(--page-color);
  width: 80%;
  align-items: left;
  text-align: left;
  padding-top: 0.01px;
  padding-bottom: 10px;
}

p {
  margin: 1.25%;
}

b {
  margin: 1.25%;
}

h2 {
  margin: 1.25%;
  text-align: left;
}

video {
  width: 98%;
}

table {
  margin: 1.25%;
}

.in-page-image {
  margin: 1.25%;
}
