body {
  background-color: var(--bg-color);
  font-family: 'Times New Roman', Times, serif;
  color: var(--text-color);
}

div {
  background-color: var(--page-color);
  width: 80%;
  text-align: left;
  padding-top: 0.01px;
  padding-bottom: 10px;
}

a {
  color: var(--a-color);
  text-decoration: none;
  margin: 10px;
}

p {
  margin: 10px;
}

h3 {
  margin: 10px;
}

textarea {
  width: 98%;
  height: 500px;
  resize: none;
}
