h2 {
    text-align: center;
    width: 100%;
    margin: 10px 0;
}

.download-button {
    margin-bottom: 8px;
}

.button-image {
    margin-top: 5px;
}

b {
    margin-left: 0;
}

button {
    margin-left: 8px;
    margin: 1.25%;
}
